h2{
    color: #FFDEAD;
}

BUTTON[type="submit"] {
 width: 15%;
 padding: 0 20px;
 margin-top: 470px !important;
 background: rgb(255, 255, 255);
 line-height: 40px;
 border-width: 1;
 border-radius: 20px;
 font-family: 'Roboto', sans-serif;

}



