<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О нас</title>
    <link href="/static/style/about_css.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" type="image/png" href="static/images/logo.png" />
</head>
<body background="static/images/background.jpg">
<h2 class = 'information', type = 'text'>
    <br>Создатель данной соц сети Кокшаров Данил Викторович.</br>
    <br></br>Данная соц сеть была сделана для освоения микрофреймворка Flask, а в последующем для покрытия атвотестами данный проект.
</h2>
<div class="registration-cssave">
    <div class="form-groupm" align="center">
        <form action='/auth' method="get">
            <button class="btn btn-primary btn-block create-account" type="submit" >Перейти к атворизации</button>
        </form>
</div>

</body>
</html>