<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="/static/style/auth_css.css" rel="stylesheet" type="text/css"/>
</head>
<link rel="icon" type="image/png" href="static/images/logo.png" />
<body background="static/images/auth.png">

   <img src="/static/images/logo.png"width="100" height="100" align="right">
<div class="registration-cssave">
    <h3 class="text-center" align="center">Введите логин и праоль</h3>
    <form action='' method="post">
        <div class="form-group" align="center">
            <input class="form-control item" type="text" name="regusername" maxlength="15" minlength="4" pattern="^[a-zA-Z0-9_.-]*$" id="regusername" placeholder="Логин" required>
        </div>

        <div class="form-group" align="center">
            <input class="form-control item" type="text" name="regpassword" minlength="6" id="password" placeholder="Пароль" required>
        </div>
       <div class="form-group" align="center">
                <button class="btn btn-primary btn-block create-account" type="submit" >Регистрация</button>
        </div>

    </form>
</div>

</body>
